<?xml version="1.0"?>

<!-- NOTE: this config file serves as a template for NLog config files in all environments!
      Check MPP CC scripts before making any changes -->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="internal.nlog"
      internalLogLevel="Info"
      autoReload="true">

  <variable name="logPathPrefix" value="game" />

  <targets>

    <target name="info"
                    xsi:type="File"
                    fileName="${logPathPrefix}.nlog"
                    archiveAboveSize="5000000" archiveEvery="Day" maxArchiveFiles="2"
                    layout="${longdate}|${level}|${logger}|${message}"
                    concurrentWrites="False" />

    <target name="error"
            xsi:type="File"
            fileName="${logPathPrefix}.Error.nlog"
            archiveAboveSize="5000000" archiveEvery="Day" maxArchiveFiles="2"
            layout="${longdate}|${level}|${logger}|${message}|${onexception:|${exception:format=ToString}}"
            concurrentWrites="False" />

    <target name="trace"
            xsi:type="File"
            fileName="${logPathPrefix}.Trace.nlog"
            archiveAboveSize="5000000" archiveEvery="Day" maxArchiveFiles="2"
            layout="${longdate}|${level}|${logger}|${message}"
            concurrentWrites="False" />

  </targets>

  <rules>
    <logger name="*" writeTo="info" levels="Debug,Info,Warn" />
    <logger name="*" writeTo="error" levels="Error,Fatal" />
    <logger name="*" writeTo="trace" levels="Trace" />
  </rules>
</nlog>
